<%- await include(`views/partials/header.ejs`) %>

<div class="container">
    <h1>404 - Page does not exist</h1>
    <div>
        <p>Got to <a href="/">Home page</a></p>
    </div>
</div>

<%- await include(`views/partials/footer.ejs`) %>
